# One display identity per team member in git log / shortlog.
francesco <massafra32@gmail.com> YOUR NAME <YOUR_GITHUB_EMAIL>
Ippokratis Pantelidis <ippokratispantelidis@gmail.com> <ipantelidis@Ippokratiss-MacBook-Air.local>
Ippokratis Pantelidis <ippokratispantelidis@gmail.com> <106438453+ipantelidis@users.noreply.github.com>
Ippokratis Pantelidis <ippokratispantelidis@gmail.com> ipantelidis <ippokratispantelidis@gmail.com>
Pepijn van Wijk <pvwpvw@protonmail.com> deboradum <pvwpvw@protonmail.com>
Pepijn van Wijk <pvwpvw@protonmail.com> <88938032+deboradum@users.noreply.github.com>
